body, #root {
    width: 100%;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px;
}

.p-c {
    display: flex;
    background-color: #3D205C;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
}