body, #root {
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    background-color: #221450;
    color: #cccccc;
}

html {
    scroll-behavior: smooth;
}

.title-header {
    font-size:  3em !important;
    margin-top: 8vh;
}

.title-sections {
    font-size: 2.2em;
    text-align: left;
}

.second-p-about {
    margin-bottom: 200px;
}

p {
    font-size: 1.3em;
    line-height: 30px;
    text-align: justify;
}

#home {
    height: 100vh;
}