body, #root {
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.header-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sections-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-fluid {
    padding: 0 !important;
}

#home {
    background-color: #094785;
}

.title-header {
    font-size:  3em !important;
    color: white;
}

.title-sections {
    font-size: 2.5em;
    margin-top: 10vh;
}